<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js" integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/hocon-parser@1.0.1/index.min.js"></script>
    </head>
    <body>
        <div class="container border rounded border-light p-2 mt-3">
            <h3>Dialogs</h3>

            <button v-on:click="updateJson()" class="btn btn-success" data-toggle="modal" data-target=".export-modal">Export JSON</button>
            <span>&nbsp;Import JSON file : <input type="file" id="importFile" name="file" /></span>

            <!-- Export modal dialog -->
            <div class="modal fade export-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Export dialogs data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <pre>
                                <code>
                                    {{ exportedJson }}
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ----- -->

            <!-- Import modal dialog -->
            <div class="modal fade import-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Import dialogs data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <pre>
                                <code>
                                    {{ importedJson }}
                                </code>
                            </pre>
                        </div>
                        <div class="modal-footer">
                            <button v-on:click="convertFileContent()" type="button" class="btn btn-primary">Import data</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ----- -->

            <ul class="list list-group mt-4">

                <!-- Dialog -->
                <li v-for="dialog in dialogs" class="list-group-item p-0">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse" v-bind:data-target="'#dialog-' + dialog.id" aria-expanded="true" v-bind:aria-controls="'dialog-' + dialog.id + '-collapse'">Dialog {{ dialog.id }} - <i>{{ dialog.name }}</i></button>
                            <button v-on:click="removeDialog(dialog.id)" type="button" class="close removebutton" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div v-bind:id="'dialog-' + dialog.id" class="collapse" v-bind:aria-label="'dialog-' + dialog.id + '-collapse'">
                        <div class="card-body">
                            <!-- Dialog name -->
                            <div class="form-group row">
                                <label for="index" class="col-sm-2 col-form-label">Id :<span class="text-danger">*</span></label>
                                <div class='col-sm-10'>
                                    <input v-model="dialog.name" type="text" name="index" class="form-control" id="index">
                                    <small id="indexHelp" class="form-text text-muted">The index must be an unique string.</small>
                                </div>
                            </div>
                            <!-- ----- -->

                            <!-- Dialog appearance conditions -->
                            <div class="card border border-warning mt-3">
                                <h5 class="card-header text-white bg-warning mb-3">
                                    Conditions
                                </h5>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="trigger" class="col-sm-2 col-form-label">Trigger :</label>
                                        <div class='col-sm-10'>
                                            <input v-model="dialog.trigger" type="text" class="form-control" name="trigger" id="trigger">
                                            <small id="triggerHelp" class="form-text text-muted">NPC names that will be able to trigger the dialog.</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="objective" class="col-sm-2 col-form-label">Objectives :</label>
                                        <div class='col-sm-10'>
                                            <input v-model="dialog.objective" type="text" class="form-control" name="objective" id="objective">
                                            <small id="objectiveHelp" class="form-text text-muted">Objectives needed to enable the dialog.</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="item" class="col-sm-2 col-form-label">Item :</label>
                                        <div class='col-sm-5'>
                                            <input v-model="dialog.item" type="text" class="form-control" name="item" id="item">
                                            <small id="itemHelp" class="form-text text-muted">Necessary items to enable the dialog.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ----- -->

                            <!-- Page manager -->
                            <div class="card border mt-3">
                                <div class="card-header bg-light">
                                    <ul class="nav nav-tabs card-header-tabs" id="pageTabs" role="tablist">
                                        <!-- Page tabs -->
                                        <li v-for="page in dialog.pages" class="nav-item">
                                            <a v-bind:id="'dialog-' + dialog.id + '-page-' + page.id + '-link'" class="nav-link" data-toggle="tab" v-bind:href="'#dialog-' + dialog.id + '-page-' + page.id" role="tab" v-bind:aria-controls="'dialog-' + dialog.id + '-page-' + page.id" aria-selected="true">Page {{ page.id }}</a>
                                        </li>
                                        <!-- ----- -->
                                        <li class="nav-item border-bottom-0"><a onclick="event.preventDefault();" v-on:click="addPage(dialog.id)" class="nav-link" href="#" id="addpageButton">+</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="page-content">

                                        <!-- Page -->
                                        <div v-for="page in dialog.pages" class="tab-pane fade show" v-bind:id="'dialog-' + dialog.id + '-page-' + page.id" role="tabpanel" v-bind:aria-labelledby="'dialog-' + dialog.id + '-page-' + page.id + '-tab'">
                                            <button v-on:click="removePage(dialog.id, page.id)" type="button" class="close removebutton" v-bind:data-page="page.id" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <div class="form-group row">
                                                <label v-bind:for="'dialog-' + dialog.id + '-page-' + page.id + '-text'" class="col-sm-2 col-form-label">Text : <span class="text-danger">*</span></label>
                                                <div class='col-sm-10'>
                                                    <textarea v-model="page.text" class="form-control" v-bind:id="'dialog-' + dialog.id + '-page-' + page.id + '-text'"></textarea>
                                                    <small v-bind:id="'dialog-' + dialog.id + '-page-' + page.id + '-text-help'" class="form-text text-muted">Text that's going to be displayed on the page.</small>
                                                </div>
                                            </div>
                                            <div v-bind:id="'dialog-' + dialog.id + '-page-' + page.id + '-buttons'">

                                                <!-- Button -->
                                                <div v-for="button in page.buttons" class="card">
                                                    <div class="card-header" v-bind:id="'dialog-' + dialog.id + '-page-' + page.id + '-button-' + button.id + '-header'">
                                                        <h5 class="mb-0">
                                                            <button type="button" class="btn btn-link" data-toggle="collapse" v-bind:data-target="'#dialog-' + dialog.id + '-page-' + page.id + '-button-' + button.id + '-collapse'" aria-expanded="true" v-bind:aria-controls="'dialog-' + dialog.id + '-page-' + page.id + '-button-' + button.id + '-collapse'">Button {{ button.id }} - <i>{{ button.text }}</i></button>
                                                            <button v-on:click="removeButton(dialog.id, page.id, button.id)" type="button" class="close removebutton" v-bind:data-page="page.id" v-bind:data-button="button.id" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div v-bind:id="'dialog-' + dialog.id + '-page-' + page.id + '-button-' + button.id + '-collapse'" class="collapse" v-bind:aria-label="'dialog-' + dialog.id + '-page-' + page.id + '-button-' + button.id + '-collapse'" v-bind:data-parent="'dialog-' + dialog.id + '-page-' + page.id + '-buttons'">
                                                        <div class="card-body">
                                                            <div class="form-row m-1">
                                                                <div class="col"><input v-model="button.text" type="text" class="form-control" v-bind:id="'dialog-' + dialog.id + '-page-' + page.id + '-button-' + button.id + '-text'" placeholder="Text" /></div>
                                                            </div>
                                                            <div class="card m-2 p-0">

                                                                <ul class="list-group list-group-flush" v-bind:id="'dialog-' + dialog.id + '-page-' + page.id + '-button-' + button.id + '-actions'">
                                                                    <!-- Action -->
                                                                    <li v-for="action in button.actions" class="list-group-item" data-type="${type}" data-args="${arg}">
                                                                        <span class="badge badge-info">{{ action.type }}</span>&nbsp;{{ action.arguments }}
                                                                        <button v-on:click="removeAction(dialog.id, page.id, button.id, action.id)" type="button" class="close removeAction" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </li>
                                                                    <!-- ----- -->
                                                                </ul>
                                                                <div class="card-footer border-top-0">
                                                                    <div class="form-row">
                                                                        <div class="col">
                                                                            <select v-model="button.newActionType" v-bind:name="'dialog-' + dialog.id + '-page-' + page.id + '-button-' + button.id + '-type'" class="form-control">
                                                                                <option value="OPEN_DIALOG">Open a given dialog</option>
                                                                                <option value="EXECUTE_COMMAND">Execute a command</option>
                                                                                <option value="GIVE_ITEM">Give an object to the player</option>
                                                                                <option value="REMOVE_ITEM">Take an object from the player</option>
                                                                                <option value="TELEPORT">Teleport to coordinates</option>
                                                                                <option value="SET_OBJECTIVE">Set objective</option>
                                                                                <option value="START_KILL_COUNT">Start counting kills for a mob</option>
                                                                                <option value="STOP_KILL_COUNT">Stop counting kills for a mob</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col"><input v-model="button.newActionArguments" type="text" v-bind:name="'dialog-' + dialog.id + '-page-' + page.id + '-button-' + button.id + '-arg'" class="form-control" placeholder="Args" /></div>
                                                                        <div class="col-auto"><button v-on:click="addAction(dialog.id, page.id, button.id)" type="button" v-bind:data-page="page.id" v-bind:data-button="button.id" class="btn btn-primary addActionbtn">Add action</button></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- ----- -->

                                            </div>
                                            <button v-on:click="addButton(dialog.id, page.id)" type="button" class="btn btn-info addButtonbtn m-2">Add a button</button>
                                        </div>
                                        <!-- ----- -->

                                    </div>
                                </div>
                            </div>
                            <!-- ----- -->
                        </div>
                    </div>

                </li>
                <!-- ----- -->

            </ul>
            <button v-on:click="addDialog()" type="button" class="btn btn-info m-2">Add a dialog</button>
        </div>
        <script src="storyteller.js"></script>
    </body>
</html>