<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">

        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/vue/dist/vue.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../node_modules/json-browse/json-browse/jquery.json-browse.js"></script>
        <script src="../node_modules/typeahead.js/dist/bloodhound.js"></script>
        <script src="../node_modules/typeahead.js/dist/typeahead.bundle.min.js"></script>
        <script src="../node_modules/handlebars/dist/handlebars.min.js"></script>

        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../node_modules/json-browse/json-browse/jquery.json-browse.css">
        <link rel="stylesheet" href="../node_modules/typeahead.js-bootstrap4-css/typeaheadjs.css">

    </head>
    <title>Item configuration page</title>
</head>
<body>
<div id="container">

    <!-- Export modal dialog -->
    <div class="modal fade" id="export-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Export dialogs data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                            <pre id="export-area" class="json-body">

                            </pre>
                </div>
            </div>
        </div>
    </div>
    <!-- ----- -->


    <!-- # NAV Section # -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">Configurathering</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Itemizer Items&nbsp;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" v-on:click="addItem()" href="#">Ajouter un élément </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" v-on:click="exportJSON()">Exporter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">importer</a>
                </li>

            </ul>

        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item dropdown ml-1">
                <a class="nav-link dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Itemizer</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="itemizer_item.html">Items</a>
                    <a class="dropdown-item" href="itemizer_miners.html">Miners</a>
                    <a class="dropdown-item" href="#">Pools</a>
                    <a class="dropdown-item" href="#">Crafts</a>
                </div>
            </li>
            <li class="nav-item dropdown ml-1">
                <a class="nav-link dropdown-toggle btn btn-outline-danger" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Brawlator</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Monster</a>
                    <a class="dropdown-item" href="#">Spawner</a>
                    <a class="dropdown-item" href="#">Loot table</a>
                </div>
            </li>
            <li class="nav-item dropdown ml-1">
                <a class="nav-link dropdown-toggle btn btn-outline-success" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Harvester</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Harvestables</a>
                    <a class="dropdown-item" href="#">Loots</a>
                </div>
            </li>
            <li class="nav-item ml-1">
                <a class="nav-link btn btn-outline-warning" href="storyteller.html">Storyteller</a>
            </li>
        </ul>
    </nav>

    <div class="container border rounded border-light p-2 mt-3">
        <div class="row">
            <div class="col-12">
                <div id="itemlist" class="accordion">
                    <div class="card" v-for="item in items">
                        <div class="card-header">
                            <h5 class="card-title">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        v-bind:data-target="'#collapse'+item.id" aria-expanded="true"
                                        v-bind:aria-controls="'collapse'+item.id">
                                    Item #{{item.id}}
                                </button>
                            </h5>
                        </div>
                        <div v-bind:id="'collapse'+item.id" class="collapse show"
                             v-bind:aria-labelledby="'heading'+item.id"
                             data-parent="#itemlist">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label v-bind:for="'item'+item.id" class="col-sm-2 col-form-label">Item :<span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class='col-sm-2'>
                                        <input class="form-control" v-model="item.id" name="item" id="item" >

                                        </input>
                                        <small id="itemHelp" class="form-text text-muted">Item unique identifier
                                        </small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label v-bind:for="'base'+item.id" class="col-form-Label">Object base : <span
                                                    class="text-danger">*</span></label>
                                            <div>
                                                <input v-bind:id="'base' + item.id" v-model="item.type" class="form-control typeahead"
                                                        name="type">
                                                <small id="baseHelp" class=" form-text text-muted">Item basis for your
                                                    customisation
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name" class=" col-form-Label">Custom name : <span
                                                    class="text-danger">*</span></label>
                                            <div>
                                                <input type="text" id="name" v-model="item.name" class="form-control"
                                                       name="type">
                                                <small id="nameHelp" class=" form-text text-muted">New name of the item
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row"><label for="lore" class="col-sm-2 col-form-label!div">Lore
                                    : </label>
                                    <div class="col-sm-10">
                                        <textarea name="lore" id="lore" cols="30" rows="2"
                                                  class="form-control" v-model="item.lore"></textarea>
                                        <small id="loreHelp" class="form-text text-muted">Your item could have a
                                            wonderful story
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">durability</span>
                                        </div>
                                        <input type="number" v-model="item.durability" class="form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text">Unbreakable</span>


                                            <div class="input-group-text">
                                                <input type="checkbox" name="unbreakable" v-model="item.unbreakable"
                                                       id="unbreakable"
                                                       aria-label="Checkbox for following text input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="miners">Miners</label>
                                    <div class="form-group">
                                        <div v-for="miner in item.miners" class="badge badge-info">
                                            <span>{{ miner }}&nbsp;</span>
                                            <span style="cursor: pointer;" v-on:click="removeMiner(item.id, miner);">&times;</span>
                                        </div>
                                        <br/>
                                        <div class="input-group">
                                            <input class="form-control" type="number" v-bind:id="'minerNo'+item.id">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-secondary" v-on:click="addMiner(item.id)">
                                                    Add
                                                </button>
                                            </div>
                                        </div>
                                        <small class="form-text text-muted">List miners associated to your object
                                        </small>
                                    </div>
                                </div>

                                <!-- Enchant section-->
                                <div class="card m-2">
                                    <div class="card-header">
                                        <h5 class="card-title">Enchants</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li v-for="enchant in item.enchants" class="list-group-item">
                                            <span>{{enchant.name}} - <small>{{enchant.level}}</small></span>
                                            <button type="button" class="close" v-on:click="deleteEnchant(item.id,enchant.id)">&times;</button>
                                        </li>
                                    </ul>

                                    <div class="card-footer">
                                        <div class="form-group m-1">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text">Enchant</label>
                                                </div>

                                                <select class="custom-select" v-bind:id="'enchantSelect'+item.id">
                                                    <option v-for="option in enchantList" v-bind:value="option.id">
                                                        {{option.text}}
                                                    </option>
                                                </select>
                                                <input class="form-control" v-bind:id="'enchantLevel'+item.id"
                                                       type="number">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-secondary"
                                                            v-on:click="addEnchant(item.id)">
                                                        Add
                                                    </button>
                                                </div>
                                            </div>
                                            <small class="form-text text-muted">Specify the enchant and its level</small>
                                        </div>
                                    </div>
                                </div>
                                <!--End enchant section-->

                                <!-- Attribute Modifier section-->
                                <h5>Attribute modifier</h5>
                                <div class="card">

                                    <div class="card-header">
                                        <ul class="nav nav-tabs card-header-tabs" v-bind:id="'item'+item.id+'AttributeList'"
                                            role="tablist">
                                            <li v-for="attribute in item.attributes" class="nav-item">
                                                <a class="nav-link" v-bind:id="'item'+item.id+'Attribute'+attribute.id"
                                                   data-toggle="tab" v-bind:href="'#attribute'+attribute.id" role="tab"
                                                   v-bind:aria-controls="'attribute'+attribute.id"
                                                   aria-selected="false">Edit - {{attribute.type}}</a>

                                            </li>
                                            <li class="nav-item border-bottom-0"><a onclick="event.preventDefault();" id="attribute-link" class="nav-link"
                                                                         v-on:click="addModifier(item.id)" href="#">+</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content" v-bind:id="'item'+item.id+'AttributeContent'">
                                            <div v-for="attribute in item.attributes" class="tab-pane fade"
                                                 v-bind:id="'attribute'+attribute.id" role="tabpanel"
                                                 aria-labelledby="profile-tab">
                                                <button type="button" class="close" v-on:click="deleteAttribute(item.id,attribute.id)">&times;</button>
                                                <div class="form-group">
                                                <label>Modifiers </label>
                                                    <div>
                                                        <select v-model="attribute.type" class="form-control">
                                                            <option v-for="option in modifiersList"  >{{option}}</option>
                                                        </select>
                                                        <small></small>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Slot</label>
                                                    <div>
                                                        <select class="form-control" v-model="attribute.slot">
                                                            <option v-for="option in slots">{{option}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Operation</label>
                                                    <div>
                                                        <select class="form-control" v-model="attribute.operation">
                                                            <option value="0">Addition</option>
                                                            <option value="1">% additive</option>
                                                            <option value="2">% multiplicative</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group"><label>Amount</label>
                                                    <div><input type="number" v-model="attribute.amount" class="form-control" step="0.01">
                                                        <small></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="itemizer_item.js"></script>
</body>
</html>